html,
body,
svg {
  font: 300 14px 'Helvetica Neue', Helvetica;
  margin: 0;
  padding: 0;
}

.final .outer,
.choice,
.state {
  stroke: #333;
  fill: #fff;
}

.edgePath path {
  stroke: #333;
  fill: #333;
}

.initial circle,
.final .inner {
  fill: #333;
}

.final .label,
.initial .label {
  transform: translate(30px, 0);
}
